# node
NODE_ENV=development

# server
HOST=0.0.0.0
PORT=3000
API_KEY=secret_api_key

# telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_WEBHOOK_URL=
TELEGRAM_BOT_OWNER_ID=

#db
DATABASE_URL=sqlite:db/app.db
DBMATE_MIGRATIONS_DIR=./migrations
